<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./CSS/Music.css">
    <link rel="stylesheet" type="text/css" href="./CSS/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <script type="text/javascript" src="./JS/Music.js">
    </script>
    <title>Music</title>
</head>

<body>
    <img src="./IMG/HomeButton.png" id="home" onclick="HomeButtonClick()">

    <div class="cont">
        <ul class="cont-ul">
            <a href="https://www.youtube.com/watch?v=D1PvIWdJ8xo"><li class="cont-ul-item"><img src="IMG/Play.png" id="play1" class="Music-play"><img src="IMG/Music/MUSIC1.png"  onmouseover="MusicOnHover(1)" onmouseout="MusicOut(1)" class="Music"></li></a>
            <a href="https://www.youtube.com/watch?v=R3Fwdnij49o"><li class="cont-ul-item"><img src="IMG/Play.png" id="play2" class="Music-play"> <img src="IMG/Music/MUSIC2.png" class="Music" onmouseover="MusicOnHover(2)" onmouseout="MusicOut(2)"></li>
            <a href="https://www.youtube.com/watch?v=yqtCGojXEpM"><li class="cont-ul-item"><img src="IMG/Play.png" id="play3" class="Music-play"> <img src="IMG/Music/MUSIC3.png" class="Music" onmouseover="MusicOnHover(3)" onmouseout="MusicOut(3)"></li>
            <a href="https://www.youtube.com/watch?v=nM0xDI5R50E"><li class="cont-ul-item"><img src="IMG/Play.png" id="play4" class="Music-play"> <img src="IMG/Music/MUSIC4.png" class="Music" onmouseover="MusicOnHover(4)" onmouseout="MusicOut(4)"></li>
        </ul> 
        <ul class="cont-ul">
            <a href="https://www.youtube.com/watch?v=cxcxskPKtiI"><li class="cont-ul-item"><img src="IMG/Play.png" id="play5"class="Music-play"> <img src="IMG/Music/MUSIC5.png" class="Music" onmouseover="MusicOnHover(5)" onmouseout="MusicOut(5)"></li>
            <a href="https://www.youtube.com/watch?v=3nh9tuM_cVs&list=PLZZl7oe5dLPl1GOwrAh4gB_dxFonSBo9l"><li class="cont-ul-item"><img src="IMG/Play.png" id="play6"class="Music-play"> <img src="IMG/Music/MUSIC6.png" class="Music" onmouseover="MusicOnHover(6)" onmouseout="MusicOut(6)"></li>
            <a href="https://www.youtube.com/watch?v=NYkcD7luZno&list=PLjGtJYEneGmXpHoIBRPTxfEykHKkRymZo"><li class="cont-ul-item"><img src="IMG/Play.png" id="play7"class="Music-play"> <img src="IMG/Music/MUSIC7.png" class="Music" onmouseover="MusicOnHover(7)" onmouseout="MusicOut(7)"></li>
            <a href="https://www.youtube.com/watch?v=d9IxdwEFk1c"><li class="cont-ul-item"><img src="IMG/Play.png" id="play8"class="Music-play"> <img src="IMG/Music/MUSIC8.png" class="Music" onmouseover="MusicOnHover(8)" onmouseout="MusicOut(8)"></li>
        </ul>
        <ul class="cont-ul">
            <a href="https://www.youtube.com/watch?v=Rh5ok0ljrzA"><li class="cont-ul-item"><img src="IMG/Play.png" id="play9"class="Music-play"> <img src="IMG/Music/MUSIC9.png" class="Music" onmouseover="MusicOnHover(9)" onmouseout="MusicOut(9)"></li>
            <a href="https://www.youtube.com/watch?v=dMn509ddAkc"><li class="cont-ul-item"><img src="IMG/Play.png" id="play10"class="Music-play"> <img src="IMG/Music/MUSIC10.png" class="Music" onmouseover="MusicOnHover(10)" onmouseout="MusicOut(10)"></li>
            <a href="https://www.youtube.com/watch?v=XG-8USiviHQ"><li class="cont-ul-item"><img src="IMG/Play.png" id="play11"class="Music-play"> <img src="IMG/Music/MUSIC11.png" class="Music" onmouseover="MusicOnHover(11)" onmouseout="MusicOut(11)"></li>
            <a href="https://www.youtube.com/watch?v=42Gtm4-Ax2U"><li class="cont-ul-item"><img src="IMG/Play.png" id="play12"class="Music-play"> <img src="IMG/Music/MUSIC12.png" class="Music" onmouseover="MusicOnHover(12)" onmouseout="MusicOut(12)"></li>
        </ul>
        
    </div>



    <div id="MenuBar" class="MenuBar">
        <img src="./IMG/MenuBarBG.png" id="menuBarBG" class="MenuBar">
        <!-- <div class="MenuBar" id="MenuCont">      -->
        <ol  class="MenuBar" id="MenuCont">  
            <a href="./Information.html"><li class="MenuCont">INFORMATION</li></a>
            <a href="./Profile.html"><li class="MenuCont">PROFILE</li></a>
            <a href="./Music.html"><li class="MenuCont">MUSIC</li></a>
            <a href="./Album.html"><li class="MenuCont">ALBUM</li></a>
            <a href="http://cafe437.daum.net/_c21_/home?grpid=1I7Yc"><li class="MenuCont">UAENA</li></a> <br><br>
            <!-- <a href="./Login.html"><li class="MenuCont" id="login">Login</li></a> 
            <a href="./SignIn.html"><li class="MenuCont" id="SignIn">SignIn</li></a> -->
        </ol>     
        <!-- </div> -->
    </div>

    <img src="./IMG/MenuButton.png" id="MenuButton" onclick="MenuButtonClick()">
   


</body>
</html>